#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menu li {
    float: left;
    border-color: #333;
}

#menu li a:last-child {
    border-color: #333;
    border-right: 1px solid #bbb;
}

#menu li a {
  display: block;
  color: rgb(153, 153, 153);
  text-align: center;
  padding: 13px 23px;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;

}

#menu li a:hover:not(.active) {
    background-color: #111;
    color: white;
    text-decoration: none;
}

#menu .active {
    color: white;
    background-color: rgb(251, 90, 2);
}